div(class="container") 
  div(class="terminal-nav")
    div(class="terminal-logo terminal-prompt")
      a(class="no-style", href="index.html")=info.title 
    nav(class="terminal-menu")
      ul
        li
          a(class="menu-item", href="index.html") Home
        li
          a(class="menu-item", href="blog.html") Blog
        if about
          li
            a(class="menu-item", href="about.html") About