html
  head
    include includes/head.pug
  body
    include includes/header.pug
    article(class="container")
      each article in articles
        a(href=article.name)
          h2 !{article.name}
        i= article.caption
        hr